<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hussain.familyhealthcard" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Family Health Card"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".splashS"
            android:label="Family Health Card" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.hussain.familyhealthcard.loginActivity" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".add"
            android:label="Home" >
            <intent-filter>
                <action android:name="om.example.hussain.familyhealthcard.add" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".create_family"
            android:label="Member" >
            <intent-filter>
                <action android:name="com.example.hussain.familyhealthcard.create_family" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".update_details"
            android:label="Family Details" >
            <intent-filter>
                <action android:name="com.example.hussain.familyhealthcard.update_details" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".create_family_2"
            android:label="General Details" >
            <intent-filter>
                <action android:name="com.example.hussain.familyhealthcard.create_family_2" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search_family"
            android:label="Search" >
        </activity>
        <activity
            android:name=".add_consult"
            android:label="Consultation" >
        </activity>
        <activity
            android:name=".about_us"
            android:label="About Us">
        <intent-filter>
            <action android:name="com.example.hussain.familyhealthcard.easter_egg" />

            <category android:name="android.intent.category.default" />
        </intent-filter>

        </activity>
        <activity
            android:name=".view_consult"
            android:label="View Consultation" >
        </activity>
        <activity
            android:name=".easter_egg"
            android:label="Potato Developers" >

        </activity>
    </application>

</manifest>
